* {
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  border-radius: 0;
  text-decoration: none;
  list-style-type: none;
  color: black; }

:focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%; }

* {
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

/* Constants */
/* Classes */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.flex-vert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

body {
  background: #fff;
  padding-top: 8rem; }
  @media only screen and (max-width: 400px) {
    body {
      padding-top: 6rem; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  z-index: 6; }
  @media only screen and (max-width: 400px) {
    header {
      height: 6rem; } }
  header img {
    width: 100%;
    display: block; }
  header a {
    position: absolute;
    top: 2.5rem; }
    @media only screen and (max-width: 400px) {
      header a {
        top: 1.5rem; } }
  header #logo {
    position: absolute;
    left: 2.5rem;
    width: 3rem; }
    @media only screen and (max-width: 400px) {
      header #logo {
        left: 1.5rem; } }
  header #menu {
    position: absolute;
    right: 2.5rem;
    width: 3rem;
    padding: 0.5rem; }
    @media only screen and (max-width: 400px) {
      header #menu {
        right: 1.5rem; } }

nav {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 100%;
  display: none; }
  nav ul {
    height: 100%; }
    nav ul li {
      padding: 1em 0; }
      nav ul li a {
        color: #fff;
        font-size: 4rem;
        font-weight: 500;
        text-transform: uppercase;
        -webkit-transition: 0.2s all ease;
                transition: 0.2s all ease; }
        @media only screen and (min-width: 700px) and (max-width: 1000px) {
          nav ul li a {
            font-size: 3rem; } }
        @media only screen and (min-width: 400px) and (max-width: 700px) {
          nav ul li a {
            font-size: 2.5rem; } }
        @media only screen and (max-width: 400px) {
          nav ul li a {
            font-size: 2rem; } }
        @media only screen and (min-width: 1000px) {
          nav ul li a {
            font-size: 4rem; } }
        nav ul li a:hover {
          opacity: 0.4; }

.feed {
  padding: 0.5rem;
  padding-top: 0; }
  .feed > a {
    width: 25%;
    position: relative;
    margin: 0;
    padding: 0.5rem; }
    @media only screen and (min-width: 1000px) {
      .feed > a {
        width: 25%; } }
    @media only screen and (min-width: 700px) and (max-width: 1000px) {
      .feed > a {
        width: 25%; } }
    @media only screen and (min-width: 400px) and (max-width: 700px) {
      .feed > a {
        width: 33.33%; } }
    @media only screen and (max-width: 400px) {
      .feed > a {
        width: 50%; } }
    .feed > a > img {
      width: 100%;
      display: block;
      box-shadow: 0 0 15px  #ccc; }
    .feed > a .insta-overlay {
      -webkit-transition: 0.2s all ease;
              transition: 0.2s all ease;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      top: 0.5rem;
      bottom: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      text-align: center; }
      .feed > a .insta-overlay .insta-overlay-info {
        -webkit-transition: 0.2s all ease;
                transition: 0.2s all ease;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        opacity: 0; }
      .feed > a .insta-overlay h3 {
        color: #fff;
        display: inline;
        font-size: 1.5rem;
        padding: 0;
        font-weight: 200;
        height: 1.5rem;
        line-height: 1.5rem;
        vertical-align: top;
        padding-left: 0.5rem; }
      .feed > a .insta-overlay img {
        display: inline;
        height: 1.5rem;
        width: 1.5rem;
        padding: 0; }
    .feed > a:hover > .insta-overlay {
      opacity: 1; }
    .feed > a:hover > .insta-overlay > .insta-overlay-info {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
  .feed .goto-instagram {
    position: relative; }
    .feed .goto-instagram h3 {
      padding: 0.1em 0.3em;
      -webkit-transition: 0.2s all ease;
              transition: 0.2s all ease; }
    .feed .goto-instagram:hover > h3 {
      background: #000;
      color: #fff; }

#instagram-preview {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 8rem; }
  @media only screen and (max-width: 400px) {
    #instagram-preview {
      padding-top: 6rem; } }
  #instagram-preview .instagram-preview-wrapper {
    width: 100%; }
    #instagram-preview .instagram-preview-wrapper > img {
      width: 40%; }
      @media only screen and (max-width: 600px) {
        #instagram-preview .instagram-preview-wrapper > img {
          width: 80vw;
          height: 80vw;
          padding: 0;
          background: #eee; } }
      @media only screen and (max-height: 500px) {
        #instagram-preview .instagram-preview-wrapper > img {
          width: 70vw;
          height: 70vw;
          padding: 0;
          background: #eee; } }
      @media only screen and (min-width: 600px) {
        #instagram-preview .instagram-preview-wrapper > img {
          width: 40%; } }
    #instagram-preview .instagram-preview-wrapper .instagram-preview-info {
      padding-top: 0; }
      @media only screen and (max-width: 600px) {
        #instagram-preview .instagram-preview-wrapper .instagram-preview-info {
          width: 100%;
          padding: 1rem;
          overflow: auto; } }
      @media only screen and (min-width: 600px) {
        #instagram-preview .instagram-preview-wrapper .instagram-preview-info {
          width: 40%; } }
      #instagram-preview .instagram-preview-wrapper .instagram-preview-info * {
        color: #fff; }
      #instagram-preview .instagram-preview-wrapper .instagram-preview-info p {
        font-size: 22px;
        line-height: 1.5em;
        padding: 1rem 0.5rem; }
        @media only screen and (min-width: 1000px) {
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info p {
            font-size: 22px; } }
        @media only screen and (min-width: 700px) and (max-width: 1000px) {
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info p {
            font-size: 20px; } }
        @media only screen and (min-width: 400px) and (max-width: 700px) {
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info p {
            font-size: 18px; } }
        @media only screen and (max-width: 400px) {
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info p {
            font-size: 16px;
            padding: 0.5rem 0.5rem; } }
        @media only screen and (max-height: 500px) {
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info p {
            font-size: 14px;
            padding: 0.25rem 0.5rem; } }
      #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div {
        width: 100%;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid #444; }
        @media only screen and (max-width: 400px) {
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div {
            padding: 0.25rem 0.5rem; } }
        #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div img {
          height: 1.5rem; }
        #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div h3, #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div a {
          display: inline;
          height: 1.5rem;
          line-height: 1.5rem;
          vertical-align: top;
          padding-left: 0.5rem;
          font-weight: 400;
          font-size: 18px; }
        #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div a {
          float: right;
          padding-left: 0.3em;
          padding-right: 0.3em; }
          #instagram-preview .instagram-preview-wrapper .instagram-preview-info > div a:hover {
            background: #fff;
            color: #000; }

.text {
  padding: 2.5rem;
  padding-top: 0; }
  @media only screen and (max-width: 400px) {
    .text {
      padding: 1.5rem;
      padding-top: 0; } }
  .text h1 {
    font-size: 3.5rem; }
    @media only screen and (min-width: 1000px) {
      .text h1 {
        font-size: 3.5rem; } }
    @media only screen and (min-width: 700px) and (max-width: 1000px) {
      .text h1 {
        font-size: 3rem; } }
    @media only screen and (min-width: 400px) and (max-width: 700px) {
      .text h1 {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 400px) {
      .text h1 {
        font-size: 2rem; } }
    @media only screen and (max-height: 500px) {
      .text h1 {
        font-size: 1.7rem; } }
  .text a {
    color: #F62459; }
    .text a:hover {
      text-decoration: underline; }

.contact-text h1:nth-of-type(2), .contact-text h1:nth-of-type(3) {
  margin-bottom: 1em; }

.soon {
  text-align: center;
  padding: 4rem;
  font-size: 2rem;
  text-transform: uppercase; }
